body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  background: url("book.webp") no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
  font-size: 1.6rem;
}

li {
  margin-bottom: 2rem;
}
h3 {
  text-align: center;
}

.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  backdrop-filter: blur(4px);
  z-index: 10;
}

.title {
  font-size: 2rem;
  margin-block: 0.5rem;
}

.sidebar {
  position: fixed;
  left: 0;
  top: 3%;
  height: 100%;
  width: 180px;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(6px);
  padding-top: 5rem;
  padding-left: 1rem;
  z-index: 9;
  font-size: 1rem;
}
.nav__list {
  list-style: none;
  padding: 0;
}
.nav__item {
  margin-bottom: 1rem;
}
.sidebar a {
  display: block;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}
.sidebar a:hover {
  background: rgba(255, 255, 255, 0.2);
}

main {
  margin-left: 200px;
  padding-top: 6rem;
}

.card {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(4px);
  margin-bottom: 2rem;
  padding: 2rem;
  border-radius: 12px;
  animation: fadeIn 1.5s ease;
}

.center-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px; /* обмежує ширину для читабельності */
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
