body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  color: #fff;
  background: url("book2.webp") no-repeat center center fixed;
  background-size: cover;
  scroll-behavior: smooth;
  font-size: 1.4rem;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li {
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 2rem;
}

h3 {
  text-align: center;
}

.layout {
  display: flex;
  min-height: 100vh;
}

.card__header {
  max-width: 80%;
}
.header {
  position: fixed;
  top: 0;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.4);
  padding: 1rem;
  backdrop-filter: blur(4px);
  z-index: 10;
}

.title {
  font-size: 2rem;
  margin-block: 0;
}

.sidebar {
  position: fixed;
  left: 10px;
  top: 10%;
  height: 100%;
  width: 180px;
  background: rgba(0, 0, 0, 0.3);

  backdrop-filter: blur(10px);
  border-radius: 12px;
  padding-block: 10px;
  padding-inline: 1rem;
  z-index: 9;
  font-size: 1rem;
  overflow-y: auto;
}
.nav__list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.nav__item {
  margin-bottom: 0;
}

.nav__link {
  display: block;
  border-radius: 6px;
  color: #fff;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: background 0.3s;
}
.nav__link:hover {
  background: rgba(255, 255, 255, 0.2);
}

.nav__link.active {
  background: rgba(255, 215, 0, 0.3); /* золотистий фон */
  color: #ffd700;
  border-radius: 6px;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  margin-left: 200px;
  gap: 2rem;
  padding-top: 6rem;
}

.card {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto 5rem;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  padding: 2rem;
  border-radius: 12px;
  animation: fadeIn 1.5s ease;
}

.card__summary {
  /* max-width: 80%; */
  text-wrap: balance;
  text-align: center;
  margin-block: 2rem;
}

.center-blocks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1200px;
}

.cards-spring {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  perspective: 1000px;
}

.spring-card {
  background: rgba(56, 65, 53, 0.6);
  backdrop-filter: blur(6px);
  border-radius: 12px;
  padding: 2rem;
  max-width: 500px;
  text-align: center;
  color: #fff;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.4);
  transform: scale(1);
  transition:
    transform 0.4s cubic-bezier(0.25, 1.25, 0.5, 1),
    box-shadow 0.4s cubic-bezier(0.25, 1.25, 0.5, 1);
}

.spring-card:hover {
  transform: scale(1.05) rotate3d(1, 1, 0, 10deg);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.6);
}

.card__subtitle {
  margin-bottom: 1rem;
  color: #ffd700;
}

.card__list {
  list-style: none;
  padding: 0;
}

.card__list--conclusion {
  list-style: decimal;
  padding-left: 20px;
}
.card__item {
  text-align: left;
}

.card__item:not(:last-child) {
  margin-bottom: 20px;
}

.card__content {
  max-width: 90%;
}
.card__conclusion {
  max-width: 800px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
